@import "normalize.css";

.wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    /* grid-template-rows: 100px 200px 200px 150px; */
    grid-template-rows: 100px 300px 300px 184px;

}

header {
    background-color: #d4d3ce;
    grid-column: 1 / 5;
}

main {
    background-color: #FFFFE0;
    grid-row: 2 / 4;
    grid-column: 1 / 4;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.item {
    background-color: #FFE4B5;
    height: 110px;
    
}

.item1 {
    grid-row: 4 / 4;
    grid-column: 1 / 3;
    margin-left: 5px;
    border: 1px solid red;
}

.item2 {
    grid-row: 4 / 4;
    grid-column: 3 / 5;
    border: 1px solid blue;
}

.item3 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    align-self: 4 / 5;
    border: 1px solid purple;
}

aside {
    background-color: #AFEEEE;
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

footer {
    background-color: #d4d3ce;
    grid-column: 1/ 5;
    grid-row: 4 / 5;
}
.footer__items {
    display: grid;
    grid-template-rows:  200px 200px 200px 200px;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}
.footer__item {
    background-color: #fff;
    height: 100px;
    width: 400px; 
}

.item4 {
    
    grid-column: 1 / 2;
    margin: 5px;
}

.item5 {
    grid-column: 2 / 3;
    margin: 5px;
}

.item6 {
    grid-column: 3 / 4;
    margin: 5px;
}

.item7 {
    grid-column: 4 / 5;
    margin: 5px;
}